img {
    margin-top: 1%;
}
body {
    margin-left: 3%;
}
#loader {
    /* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_loader */
    border: 10px solid rgba(255, 255, 255, 0.061);
    border-top: 10px solid blue;
    border-radius: 10%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    /* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_loader */
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}